# Dataset


# Dataset
*.csv

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.env

# macOS
.DS_Store

# Test/debug files
scoring-service/check_db.py
